
body {
    background: #fff;
}

.blue {
    color: #40bad2;
}

header nav ul {
    list-style: none;
    padding: 0px;
}

header nav ul li {
    display: inline-block;
    padding: 0px;
}

header nav ul li a {
    color:#40bad2;
}